<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/basic.css">
    <link rel="stylesheet" href="/styles/productsPage.css">
    <title>Document</title>
</head>
<body>
    <nav class="navigation">
        <div class="logo"><a href="/">Frutti</a></div>
        <div class="middle-nav">
            <input type="text" placeholder="Search">
        </div>
        <div class="right-nav">
            <div class="products"><a href="/products">Products</a></div>
            <div class="categories"><a href="/categories">Categories</a></div>
        </div>

    </nav>
    <main>
        <div class="filters">
            <div class="filter-category">Fruits</div>
            <div class="filter-category">Vegetables</div>
            <div class="filter-category">Beverages</div>
            <div class="filter-category">Meat</div>
            <div class="filter-category">Seafood</div>
            <div class="filter-category">Dairy</div>
            <div class="filter-category">Grains and Cereals</div>            
            <div class="filter-category">Frozen food</div>            

        </div>
        <div class="food-products-container">
            <% if(products) { 
                products.forEach(prod => {
            %>
                <div class="single-food-product">
                    <img src="<%=prod.image_url %>" alt="food image" class="product-image">
                    <div class="product-name"><%= prod.product_name %></div>
                    <div class="product-category"><%= prod.category_name %></div>
                    <div class="product-quantity">Quantity: <%= prod.quantity %></div>
                    <div class="product-price">Price: $<%= prod.price %></div>
                </div>
              <%  })} %>
        </div>
    </main>

    <footer>&copy; 2025 hubfrt1337 | The Odin Project </footer>
</body>
</html>